<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.examples.dota2tv"
    android:installLocation="auto"
    android:versionCode="22"
    android:versionName="1.2.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

	<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <permission
        android:name="com.example.dota2tv.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.dota2tv.gcm.permission.C2D_MESSAGE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        tools:replace="android:label"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name="com.examples.dota2tv.loadMore.YoutubeActionBarActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.examples.dota2tv.twitchplayers.TwitchPlayer"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.examples.dota2tv.loadMore.MatchDetailsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.examples.dota2tv.SideMenuActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.examples.dota2tv.loadMore.LoadMore_Activity_Channel"
            android:label="@string/app_name" >
        </activity>
        <activity
  			android:name="com.examples.dota2tv.loadMore.LoadMore_Activity_Base"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.examples.dota2tv.settings.SettingsActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.examples.dota2tv.loadMore.LoadMore_Activity_Search"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.examples.dota2tv.loadMore.LoadMore_Activity_Search_Twitch"
            android:label="@string/app_name" >
        </activity>
        

        <activity
            android:name="com.examples.dota2tv.twitchplayers.VideoBuffer"
            android:label="@string/app_name" 
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.examples.dota2tv.twitchplayers.MediaBuffer"
            android:label="@string/app_name" 
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />  
             
        <receiver android:process=":remote" android:name="com.examples.dota2tv.notificationservice.AlarmReceiver"></receiver>

        <service android:enabled="true" android:name="com.examples.dota2tv.notificationservice.NotificationService" />
    </application>

</manifest>